name: Backend Build and Docker

permissions:
  contents: write
  packages: write

on:
  workflow_dispatch:

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build backend with Gradle
        working-directory: ./backend
        run: ./gradlew build

      - name: Generate Artifacts
        working-directory: ./backend
        run: ./gradlew processCardsJson genPHashBin genOrbBin genLowestRarityMap genCardIdList

      - name: Upload as release asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest-application-config
          files: backend/outputs/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/conorrr/pocketdeck/backend:${GITHUB_SHA::7} backend/.

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker push ghcr.io/conorrr/pocketdeck/backend:${GITHUB_SHA::7}